:root {
    --green: 0, 148, 37;
    --standard-section-spacing: calc(1rem + 0.7vh);
}
@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-ExtraLight.woff2') format('woff2'),
        url('fonts/Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pridi';
    src: url('fonts/Pridi-SemiBold.woff2') format('woff2'),
        url('fonts/Pridi-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("windowsxpbeach.png");
    background-repeat: repeat-x;
    background-color: #096acc;
    background-position: center;
    justify-content: space-between;
    font-family: "Nunito";
    font-weight: 800;
}
.logo {
    color: white;
    width: 100vw;
    padding: 10px calc(1px + 5vw) 10px calc(1px + 1vw);
    display: flex;
    background-color: rgba(var(--green), 0.8);
    font-size: clamp(calc(1.5rem - 1vw), 3vw, 45px);
    align-items: center;
    font-family: "Pridi";
    letter-spacing: 2px;
}
.logo>img {
    width: clamp(40px, 4.7vw, 100px);
    margin-right: 10px;
}
@media (min-width: 768px) {
    body {
        flex-direction: row;
        background-position: bottom left -10px;
        background-size: 80vh auto;
    }
    aside.left {
        position: relative;
        top: 15vh;
        height: 215px;
        width: 23vw;
    }
    .logo {
        width: 100%;
        background-color: rgba(var(--green), 0.7);
    }
    .logo, .logo>img {
        margin: 0 auto;
    }
}
main {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-top: 6%;
    border-radius: 32px;
    background: #9DE8F5;
    background: linear-gradient(170deg, rgba(157, 232, 245, 0.68) 15%, rgba(255, 255, 255, 0.08) 28%, rgba(223, 247, 252, 0.29) 50%, rgba(157, 232, 245, 0.6) 61%, rgba(9, 106, 204, 0.96) 87%, rgba(9, 106, 204, 0.3) 100%);
}
@media (min-width: 768px) {
    main {
        height: 100vh;
        margin-top: 0;
    }
}
.content {
    --background-color: hsla(135, 100%, 29%, 0.326);
    display: flex;
    flex-direction: column;
    padding: 4vh 0 3vh;
    height: 98%;
    width: 96%;
    background-color: hsl(53, 96%, 96%);
    border-radius: 32px;
    margin: 2.5vh 1vw;
    overflow: auto;
}
aside.right {
    width: 0%;
    left: 100%;
}

@media (min-width: 768px) {
    aside.right {
        width: calc(10vw - 4rem);
    }
}
form {
    display: flex;
    flex-direction: column;
}

.tableTop {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1vh 12vw var(--standard-section-spacing);
    p, h2 {
        margin-bottom: 1vh;
        color: rgb(92, 54, 5);
    }
    p {
        font-size: calc(1rem + 0.2vw);
        line-height: calc(1.1rem + 0.8vw);
    }
    h2 {
        font-size: calc(1.3rem + 0.2vw);
    }
}

.tableInputWrapper {
    background-color: var(--background-color);
    box-shadow: 0 8px 6px -6px #80808078;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw 8vh;
    row-gap: 3.2vh;
    label {
        margin-bottom: 0.1rem;
    }
    input {
    width: clamp(130px, 25vw, 240px);
    }
}

#midActionText {
    display: inline;
    position: relative;
    margin-bottom: -1.4vh;
    font-size: calc(1.15rem + 0.2vw);
}

.row {
    display: flex;
    column-gap: 4vw;
    justify-content: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.tableFooter {
    color: rgba(53, 31, 2, 0.918);
    height: calc(2rem + 12vh);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    row-gap: calc(0.5rem + 0.1vh);
    padding-top: var(--standard-section-spacing);
}

.tableFooter>button {
    background-color: rgb(var(--green));
    color: white;
    border-style: none;
    border-radius: 25px;
    padding: 7px 22px;
    font-size: calc(1.2rem + 0.1vw);
}

a {
    text-decoration: none;
}

.pwReqInfo {
    visibility: hidden;
}

.pwReqInfo > p {
    position:absolute;
    top: 1.1vh;
    width: clamp(130px, 25vw, 240px);
    font-size: calc(0.65rem + 0.2vw);
}

input#password:focus + div>p, input#password:user-invalid + div>p {
    position: relative;
    visibility: visible;
}

input#password:focus:valid + div>p {
    color: green;
}

form {
    --error-color: rgba(173, 19, 58, 0.918);
}

input#password:user-invalid + div>p {
    color: var(--error-color);
}

a:link, a:hover {
    color: rgb(29, 108, 226);
}

a:visited {
    color: rgb(97, 33, 216);
}

a:active {
    color: rgb(29, 137, 226);
}

input:valid {
    color: black;
}
/* input:invalid {
    color: red;
} */
input:user-invalid {
    border: 2.5px solid rgba(179, 64, 29, 0.534);
}

input:focus {
    border: 3px solid pink;
    box-shadow: 0 8px 6px -6px #80808078;
}

