:root {
    --primary-color: rgb(225 255 255 / 0.65);
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("windowsxpbeach.png");
    justify-content: space-between;
}
.logo {
    padding: 10px;
    display: flex;
    background-color: rgba(0, 148, 37, 0.7);
    color: white;
    font-size: clamp(1.5rem, 3.5vw, 45px);
    align-items: center;
}
.logo>img {
    width: clamp(60px, 9vw, 115px);
    margin-right: 10px;
}
@media (min-width: 768px) {
    body {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    aside {
        position: relative;
        top: 180px;
        height: 215px;
        width: 45%;
    }
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 1rem 1rem 0;
    width: 100%;
    height: 80vh;
    background-color: var(--primary-color);
    border-radius: 64px;
}
@media (min-width: 768px) {
    main {
        height: 100vh;
    }
}
.content {
    padding: 2rem;
    height: 90%;
    width: 90%;
    background-color: var(--primary-color);
    border-radius: 64px;
}
form {
    display: flex;
}
.formColumn {
    display: flex;
    flex-direction: column;    
}
input {
    width: 200px;
}
