:root {
    --bg-img: url("windowsxpbeach.png");
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-ExtraLight.woff2') format('woff2'),
        url('fonts/Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pridi';
    src: url('fonts/Pridi-SemiBold.woff2') format('woff2'),
        url('fonts/Pridi-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-color: #096acc;
    background-position: bottom -345px left -100px;
    justify-content: space-between;
    font-family: "Nunito";
    font-weight: 800;
}
.logo {
    width: 100vw;
    padding: 10px 10px 10px calc(1px + 1vw);
    display: flex;
    background-color: rgba(0, 148, 37, 0.7);
    color: white;
    font-size: clamp(calc(1.5rem - 1vw), 3vw, 50px);
    align-items: center;
    font-family: "Pridi";
    letter-spacing: 2px;
}
.logo>img {
    width: clamp(50px, 6vw, 100px);
    margin-right: 10px;
}
@media (min-width: 768px) {
    body {
        flex-direction: row;
        background-position: bottom left;
    }
    aside.left {
        position: relative;
        top: 180px;
        height: 215px;
        width: 23vw;
    }
    .logo {
        width: 100%;
    }
    .logo>img {
         margin-right: 1vw;
    }
}
main {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-top: 6%;
    border-radius: 32px;
    /* background-color: rgba(13, 206, 196, 0.5); */
    background: #9DE8F5;
    background: linear-gradient(170deg, rgba(157, 232, 245, 0.68) 15%, rgba(255, 255, 255, 0.08) 28%, rgba(223, 247, 252, 0.29) 50%, rgba(157, 232, 245, 0.6) 61%, rgba(9, 106, 204, 0.96) 87%, rgba(9, 106, 204, 0.3) 100%);
}
@media (min-width: 768px) {
    main {
        height: 100vh;
        margin-top: 0;
    }
}
.content {
    --background-color: #096acc1c;
    display: flex;
    flex-direction: column;
    padding: 3vh 0 3vh;
    height: 98%;
    width: 96%;
    background-color: rgba(255, 255, 255);
    border-radius: 32px;
    margin: 2.5vh 1vw;
}
aside.right {
    width: 0%;
    left: 100%;
}

@media (min-width: 768px) {
    aside.right {
        width: calc(10vw - 3rem);
        background-image: var(--bg-img);
        background-position: right -360px bottom;
        background-repeat: no-repeat;
    }
}
form {
    display: flex;
    flex-direction: column;
}

.tableTop {
    background-color: var(--background-color);
    margin-top: 1vh;
    p, h2 {
        margin: 2vh 5vw 1.5vh 5vw;
    }
}

.tableInputWrapper {
    display: flex;
    flex-direction: column;
    padding: 10vw 10vh;
    row-gap: 3vh;
    label {
        margin-bottom: 0.1rem;
    }
    input {
    width: max(130px, 20vw);
    }
}
.row {
    display: flex;
    column-gap: 4.5vw;
    justify-content: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    
}

.tableFooter {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--background-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}


