:root {
    --bg-img: url("windowsxpbeach.png");
}

body {
    display: flex;
    flex-direction: column;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-color: #096acc;
    background-position: bottom -345px left -100px;
    justify-content: space-between;
}
.logo {
    width: 100vw;
    padding: 10px 10px 10px 10px;
    display: flex;
    background-color: rgba(0, 148, 37, 0.7);
    color: white;
    font-size: clamp(1.5rem, 3vw, 50px);
    align-items: center;
}
.logo>img {
    width: clamp(45px, 6vw, 100px);
}
@media (min-width: 768px) {
    body {
        flex-direction: row;
        background-position: bottom left;
    }
    aside.left {
        position: relative;
        top: 180px;
        height: 215px;
        width: 35%;
    }
    .logo {
        width: 100%;
    }
    .logo>img {
         margin-right: calc(5px + 1vw);
    }
}
main {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-top: 6%;
    border-radius: 32px;
    /* background-color: rgba(13, 206, 196, 0.5); */
    background: #9DE8F5;
    background: linear-gradient(170deg, rgba(157, 232, 245, 0.68) 15%, rgba(255, 255, 255, 0.08) 28%, rgba(223, 247, 252, 0.29) 50%, rgba(157, 232, 245, 0.6) 61%, rgba(9, 106, 204, 0.96) 87%, rgba(9, 106, 204, 0.3) 100%);
}
@media (min-width: 768px) {
    main {
        height: 100vh;
        margin-top: 0;
    }
}
.content {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 98%;
    width: 96%;
    background-color: rgba(255, 255, 255);
    border-radius: 64px;
}
aside.right {
    width: 0%;
    left: 100%;
}

@media (min-width: 768px) {
    aside.right {
        width: 15%;
        background-image: var(--bg-img);
        background-position: right -360px bottom;
        background-repeat: no-repeat;
    }
}
form {
    display: flex;
    flex-direction: column;

    --background-color: #096acc1c;
}

.tableTop {
    background-color: var(--background-color);
    margin-top: 1vh;
    
    p, h2 {
        margin: 2vh 4vw 1.5vh 4vw;
    }
}

.tableInputWrapper {
    display: flex;
    justify-content: center;
    input, label {
        margin: 0.5vh 2vw 0.5vh 2vw;
    }
    label {
        margin-bottom: 0.1rem;
    }
    
}
.formColumn {
    display: flex;
    flex-direction: column;

    :first-Child {
        margin-top: 2rem;
    }
    :last-Child {
        margin-bottom: 2rem;
    }
    input {
    width: 85%;
    }    
}

.tableFooter {
    margin: 2vh 0 1.5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--background-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}


